<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--1.组件扫描controller-->
    <context:component-scan base-package="cn.itcast.controller"/>
    <context:component-scan base-package="cn.itcast.exception"/>
    <context:component-scan base-package="cn.itcast.aspect"/>
    <!--2.开启注解支持-->
    <mvc:annotation-driven/>
    <!--3.配置视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>

    </bean>
    <!--4.释放静态资源-->
    <mvc:default-servlet-handler/>
    <!--5.配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/user/login"></mvc:exclude-mapping>
            <bean class="cn.itcast.interceptor.MyInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--开启自动代理-->
    <!--<aop:aspectj-autoproxy/>-->
   <!--     &lt;!&ndash;6.配置自定义异常处理器&ndash;&gt;
    <bean class="cn.itcast.exception.MyExceptionResolver">
        <property name=""
    </bean>-->
</beans>